{% extends "../../templates/layout.html" %}

{% block title %}
    Post TACE- HCC assesment
{% endblock %}

{% block main %}
<main class="dash">
    <ul class="dash">
        <li class="dash"><a href="taceDashboard" class="dash">Dashboard</a></li>
        <li class="dash"><a href="statistics" class="dash">Statistics</a></li>
        <li class="dash"><a href="newPatient" class="dash">Add new patient</a></li>
        <li class="dash" style="float:right"><a href="search" class="dash">Search</a></li>
    </ul>

    <div class="pacientnou">
        <h1>Inregistrare pacient nou</h1>
        <form method="post">
            <fieldset>
                <label for="nume">Nume<input id="nume" name="nume" type="text" required /></label>
                <label for="prenume">Prenume<input id="prenume" name="prenume" type="text" required /></label>
                <label for="CNP">CNP<input id="CNP"  name="CNP" type="text" pattern="[0-9]{13}" required /></label>
            </fieldset>
            <fieldset>    
                <select id="etiologie" name="etiologie" required>
                    <option value="">Selecteaza etiologia</option>
                    <option value="1">Hepatita C</option>
                    <option value="2">Etanol</option>
                    <option value="3">Hepatita B</option>
                    <option value="4">NASH</option>
                    <option value="5">Ciroza Criptogena</option>
                    <option value="6">Hemocromatoza primara/secundara</option>
                  </select>
            </fieldset>
            <input type="submit" value="Adauga pacient" />
        </form>
    </div>







    

{% endblock main %}